<p> Add a new horse to your stable </p> 

<form method="post" action="/horses">
<label for="horse_name"> Name of Horse: </label>

<input type="text" name="horse[name]" id="horse_name" placeholder="Enter horse's name">
<br><br>

<input class="btn btn-primary" type="submit" value="SUBMIT">

<br><br>

</form>