<h3>Login</h3>
<form action="/login" method="POST">
	<input type="text" name="username" placeholder="Enter Username">
    <input type="text" name="email" placeholder="Enter Email">
	<input type="password" name="password" placeholder="Enter Password">
	<input type="submit" value="Log In">
</form>
<br><br><br><br><br><br>
<a href="/">Go to Sinatra Stables home page.</a>

<br><br>