<div class="container">
<h1> Welcome to Sinatra Stables </h1>
 <img 
  src="images/anna-kaminova-stables-unsplash.jpg" 
  class="img-responsive main-image"
  title="stables"
  width="80%" 
  height="50%"
  >
  <div class="col-md-8 col-md-offset-2">
    <h2>Create your dream stable!</h2>

    <div class="content">
      Here you can add as many horses as you like to Sinatra stables along with horse riders. <br><br>
      This app can be used by horse owners to help them keep track of what horses they have and which riders are exercising/competiting on each horse. <br><br>
      To get started <a href="">Sign Up</a> or <a href="">Log In</a>.
      <br><br>
    </div>

   

  </div>
</div>
